.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.homepage {
  min-width: 100%;
  min-height: 100%;
  background: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #520A2C;
  background: conic-gradient(from 315deg, #520A2C, #370C2B);
}

.homepage_header {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  min-width: 20%;
  min-height: fit-content;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  background: #ED3198;
  background: conic-gradient(from 315deg, #6b053d, #8a2d52);
  position: relative
}

.homepage_header h1 {
  font-size: 2rem;
  color: #070000;
}

.homepage_header > .button {
  background: linear-gradient(to bottom right, rgb(140 47 138) 25%, rgb(237 0 110) 70%);
  color: #fff;
  font-size: 1.25rem;
  width: 100%;
  text-align:center;
  padding: 0.5rem 0;
  margin: 0.5rem ;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.homepage_header > .button:hover{
  background: linear-gradient(to bottom right, rgb(237 0 110), rgb(140 47 138))
}

.homepage_header > input{
  border: 1px solid grey;
  border-radius: 10px;
  outline: none;
  color: #1d2129;
  margin: 0.5rem 0;
  padding: 0.5rem 0.1rem;
  width: 100%;
  font-size: 1rem;
}

.react-datetime-picker  {
  width: 100% !important;
}


.homepage_body {
  width: 100%;
}

.reminder_card {
  display: flex;
  flex-direction: column;
  display: inline-block;
  background: #A6097B;
  background: conic-gradient(from 315deg, #A6097B, #70013F);
  border-radius: 8px;
  margin: 2rem;
  padding: 1rem;
  max-width:350px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.reminder_card > h2 {
  margin-bottom: 1rem;
  color: #ffffff;
}

.reminder_card > h3 {
  margin-bottom: 1rem;
  color: #ffffff;
}

.reminder_card > p {
  color: #ffffff;
  margin-bottom: 1rem;
}

.reminder_card > .button {
  background: linear-gradient(to bottom right, rgb(217 2 107) 35%, rgb(222 13 244));
  color: #fff;
  font-size: 1.25rem;
  width: inherit;
  text-align:center;
  padding: 0.5rem 0;
  margin: 0.5rem ;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.reminder_card > .button:hover{
  background: linear-gradient(to bottom right, rgb(222 13 244), rgb(217 2 107))
}